* {
    margin: 0 auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    text-align: center;
    background-color: bisque;
}

form {
    background-color: aqua;
    width: 60%;
    padding: 10px 0px;
    margin-bottom: 50px;
}

table {
    background-color: palevioletred;
    margin-bottom: 10px;
}

th {
    width: 70px;
}

.button {
    display       : inline-block;
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #ff4dff;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 3px 3px 5px #666666;  /* 影の設定 */
}
.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
}

.container {
    display: flex;
    width: 60%;
    margin-top: 20px;
}