<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/try_css.css')}}">
    <script src="{{url_for('static', filename='try_js.js')}}"></script>
    <script src="{{url_for('static', filename='plotly-2.12.1.min.js')}}"></script>
    <title>try_html</title>
</head>
<body>
    <h1>入力フォーム</h1>
    <form method="POST" action="http://127.0.0.1:5000/show_data">
        <table border="1" id="table_id">
            <tr>
                <th>名 前</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>年 齢</th>
                <td><input type="number" name="age"></td>
            </tr>
        </table>
        <select name="select" id="select_id" onchange="change_by_select()">
            <option value="">なし</option>
            <option value="red">赤</option>
            <option value="blue">青</option>
        </select>
        <div class="container">
            <input type="submit" value="送信" class="button">
            <input type="button" name="button" class="button" value="ボタン" onclick="change_table()">
        </div>
    </form>
    <div id="try_graph" style="width:600px;height:250px;margin: auto;"></div>
</body>
<script>
    var trace = {
        x: [1, 2, 3, 4],
        y: [10, 15, 13, 17],
        mode: 'lines+markers',
        type: 'scatter',
        name: 'Team A',
        text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
        marker: {size: 12}
    };
    var data = [trace];
    Plotly.newPlot('try_graph', data);
</script>
</html>